﻿<!DOCTYPE html>
<html>
<body style="padding: 0; margin: 0; background-color:#ebecf0">
    <table align="center" bgcolor="#cecece" border="0" cellpadding="0" cellspacing="0" style="background-color: #ebecf0; width:100%; ">
        <tr>
            <td align="center" bgcolor="#cecece" style="background-color: #ebecf0;">
                <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 900px; background-color: #FFFFFF;">
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" style="background: #6c7e92;">
                                <tr>
                                    <td align="center" style="padding-top:8px; height:90px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px; background-color: #fff7bd;">
                            <h1>Test Mail</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
